<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hot Finds</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new data</a></p>
    </div>

    <!-- Mars data -->
    <div class="row" id="mars_data">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News </h2>
          <h3 class="heading">{{mars.title}} </h3>
            <p class="teaser">{{mars.teaser}} </p>
        <h2 class="heading">Mars Featured Image </h2>
        <img src="{{mars.featured_image_url }}" alt="mars">
        <!DOCTYPE html>
<html lang="en">

<div class="container">
  <h2>Mars Facts</h2>
  <table border="1" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th></th>
        <th>value</th>
      </tr>
      <tr>
        <th>factor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Equatorial Diameter:</th>
        <td>6,792 km</td>
      </tr>
      <tr>
        <th>Polar Diameter:</th>
        <td>6,752 km</td>
      </tr>
      <tr>
        <th>Mass:</th>
        <td>6.39 × 10^23 kg (0.11 Earths)</td>
      </tr>
      <tr>
        <th>Moons:</th>
        <td>2 (Phobos &amp; Deimos)</td>
      </tr>
      <tr>
        <th>Orbit Distance:</th>
        <td>227,943,824 km (1.38 AU)</td>
      </tr>
      <tr>
        <th>Orbit Period:</th>
        <td>687 days (1.9 years)</td>
      </tr>
      <tr>
        <th>Surface Temperature:</th>
        <td>-87 to -5 °C</td>
      </tr>
      <tr>
        <th>First Record:</th>
        <td>2nd millennium BC</td>
      </tr>
      <tr>
        <th>Recorded By:</th>
        <td>Egyptian astronomers</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <h1 class="display-4">Mars Hemispheres</h1>
  <hr class="style-eight" />
</div>
<div class="row">
  <div class="col-md-6">
    <h3 class="text-center">{{mars.Hemisphere_image_url[0]['Title']}}</h3>
    <div class="card">
      <img src="{{mars.Hemisphere_image_url[0]['image_url']}}" class="card-img-top" alt="..." style="width:500px;height:500px";>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h3 class="text-center">{{mars.Hemisphere_image_url[1]['Title']}}</h3>
    <div class="card">
      <img src="{{mars.Hemisphere_image_url[1]['image_url']}}" class="card-img-top" alt="..." style="width:500px;height:500px";>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h3 class="text-center">{{mars.Hemisphere_image_url[2]['Title']}}</h3>
    <div class="card">
      <img src="{{mars.Hemisphere_image_url[2]['image_url']}}" class="card-img-top" alt="..." style="width:500px;height:500px";>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h3 class="text-center">{{mars.Hemisphere_image_url[3]['Title']}}</h3>
    <div class="card">
      <img src="{{mars.Hemisphere_image_url[3]['image_url']}}" class="card-img-top" alt="..." style="width:500px;height:500px";>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
</body>
</html>

      </div>
    </div>

  </div>
</body>

</html>

