<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hot Finds</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new data</a></p>
    </div>

    <!-- Mars data -->
    <div class="row" id="mars_data">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News </h2>
        <h3 class="heading">{{mars.title}} </h3>
        <h3 class="heading">{{mars.teaser}} </h3>
        <h2 class="heading">Mars Featured Image </h2>
        <img src="{{mars.featured_image_url }}" alt="mars">
        <!DOCTYPE html>
<html lang="en">

<div class="container">
  <h2>Mars Facts</h2>
    {{mars.table}}
</div>
</body>
</html>

      </div>
    </div>

  </div>
</body>

</html>

